//main

.banner-title {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.main-content {
  background-image: url("./assets/img-books2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-content {
  padding-bottom: 500px;
}

.text-set {
  font-size: 2rem;
}

.structure {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.7)),
    url("./assets/img-books6.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-set {
  min-height: 230px;
  height: 100%;
}

.icon-structure {
  width: 50px;
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
}

.text-header {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.capture-books {
  max-width: 500px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 580px) {
  .text-set {
    font-size: 1.25rem;
  }
}
